@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  [theme="default"] {
    --buttons: #60a5fa; /* blue 400 */
    --hover: #3b82f6; /* blue 500 */
    --hover2: #2563eb; /* blue 600 */
    --bg: white;
    --text: white;
    --link: #60a5fa; /* blue 400 */
    --other: black;
    --window: #d1d5db; /* grey 300 */
    --shadow: #6b7280; /* grey 500 */
    --delete: #ef4444; /* red 500 */
    --delete2: #b91c1c; /* red 700 */
  }
}
[theme="dark"] {
  --buttons: #27272a; /* zinc 800 */
  --hover: #18181b; /* zinc 900 */
  --hover2: #09090b; /* zinc 950 */
  --bg: #3f3f46; /* zinc 700 */
  --text: white;
  --link: white;
  --link2: #9ca3af; /* zinc 400 */
  --other: black;
  --window: #71717a; /* grey 300 */
  --shadow: #27272a; /* zinc 800 */
  --delete: #18181b; /* zinc 900 */
  --delete2: #09090b; /* zinc 950 */
}
